<!DOCTYPE html>
<html>
<head>
  <title>{{i18n 'title'}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
{{#each locales}}
  <a href="{{localeURL locale}}" class="{{#if isActive}}active{{/if}}">{{locale}}</a>
{{/each}}

{{{body}}}
</body>
</html>
