<h1>{{i18n 'breadcrumb.imprint'}}</h1>

<div id="imprint">
  <div class="row">
    <label for="location" class="col-xs-12 col-sm-6">Anschrift</label>
    <div id="location" class="col-xs-12 col-sm-6">
      Fachgruppe Angewandte Informatik<br>
      Goldschmidtstra&szlig;e 7<br>
      37077 Göttingen
    </div>
  </div>
  <div class="row">
    <label for="email" class="col-xs-12 col-sm-6">E-Mail</label>
    <div id="email" class="col-xs-12 col-sm-6">fachgruppe@informatik.uni-goettingen.de</div>
  </div>
  <div class="row">
    <label for="speaker" class="col-xs-12 col-sm-6">Fachgruppensprecher</label>
    <div id="speaker" class="col-xs-12 col-sm-6">Anna B&ouml;semann</div>
  </div>
</div>
