{{#if hasFooter}}
  <div class="panel-footer">
    {{>author}}
    <div class="pull-right">
      {{> eventLinks}}
      <span class="event-languages">
        {{#each language}}
          <small class="text-mono event-language">{{this}}</small>
        {{/each}}
      </span>
    </div>
  </div>
{{/if}}